.upper_line ul {
    list-style: None;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.upper_line ul li {
    padding: 10px 10px;
    border: 1px solid rgb(201, 185, 185);
    border-radius: 10px;
    background-color: rgb(234, 242, 163);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.upper_line a {
    text-decoration: none;
}

.logo {
    width: 100px;
    height: 130px;
    border-radius: 10px;
}

.logo_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(96, 196, 251);
    margin-bottom: 50px;
    margin-top: 50px;
}

#response_area {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid black;
    background-color: aquamarine;
    width: 700px;
    height: 400px;
}


.chat_box {
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.user {
    padding: 10px 10px;
    background-color: burlywood;
    align-self: flex-end;
}


.bot {
    padding: 10px 10px;
    background-color: blue;
    align-self: flex-start;
}

.timestamp{
    display: block;
}




.chat_box{
    max-width: 80%;
    padding: 10px 15px;
    margin: 6px 0;
    border-radius: 18px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    font-size: 16px;
    line-height: 1.4;
}

.user {
    background-color: #0b9b17;
    align-self: flex-end;
    text-align: left;
}

.bot {
    background-color: #fff6cc;
    align-self: flex-start;
    text-align: left;
}




select {
    border-radius: 10px;
    padding: 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
}

#chat_form {
    display: flex;
    gap: 20px;
    flex: 1;

}
#user_input {
    flex: 1;
    width: 600px;
    border-radius: 10px;
    border: 1px solid black;
}

#submit_button {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 15px;
    border-radius: 10px;
}

#clear_button {
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 15px;
}

footer {
    display: flex;
    align-self: center;
    justify-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(138, 138, 138);
}


.tab.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.tab {
    display: none;
}


body {
    background-color: aliceblue;
}