@media (max-width: 600px) {
    .logo_name {
        flex-direction: column;
    }
}    

.top_line ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: None;
}

.top_line a {
    text-decoration: None;
}

.top_line li {
    padding: 10px 10px;
    background-color: rgb(221, 230, 148);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(231, 199, 199);
}

.logo {
    width: 100px;
    height: 130px;
    border-radius: 10px;
}

.logo_name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 2px;
    color: rgb(99, 138, 223);
    margin-bottom: 40px;
}


#response_area {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    background-color: rgb(197, 254, 254);
    border-radius: 10px;
    border: 1px solid black;
    overflow-y: auto;
}


.message_box {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;

}

.user {
    align-self: flex-end;
    background-color: rgb(195, 137, 137);
}
.bot {
    align-self: flex-start;
    background-color: rgb(172, 139, 202);
}

.timestamp {
    display: block;
}


#chat_form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#user_input {
    width: 500px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#submit_button {
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
    padding: 10px 10px;
}

#clear_button {
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 10px;
}

.tab.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tab {
    display: none;
}

footer {
    display: flex;
    color: rgb(56, 59, 59);
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200px;

}

body {
    background-color: aliceblue;
}