.upper_line ul {
    list-style: None;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.upper_line li {
    border-radius: 10px;
    padding: 20px;
    background-color: beige;
}

.upper_line a {
    text-decoration: None;
}

.logo {
    width: 100px;
    border-radius: 10px;
}

.name_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(104, 187, 242);
    margin-bottom: 100px;
    gap: 20px;
}

.name_logo h1 {
    font-size: 2em;
    font-weight: 20000;
    letter-spacing: 1px;
    margin: 0;
}

.chat_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#response_area {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    background-color: aqua;
    border-radius: 10px;
    border: 1px solid #333;
    overflow-y: auto;
}

#chat_form {
    display: flex;
    width: 600px;
    gap: 10px;

}

#user_input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#submit_button {
    padding: 10px 20px;
    color: white;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
}

#click_button {
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid rgb(211, 199, 199);
}




.message-box{
    max-width: 80%;
    padding: 10px 15px;
    margin: 6px 0;
    border-radius: 18px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    font-size: 16px;
    line-height: 1.4;
}

.user {
    background-color: #0b9b17;
    align-self: flex-end;
    text-align: left;
}

.bot {
    background-color: #fff6cc;
    align-self: flex-start;
    text-align: left;
}

.timestemp {
    display: block;
    font-size: 12px;
    color: #555;
    margin-top: 5px;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    color: grey;
    margin-top: 50px;
}

body {
    background-color: aliceblue;
}